/**
 
 @Name: layuiSimpleBlog - 极简博客模板
 @Author: xuzhiwen
 @Copyright: layui.com
 
 */


/*end-menu-btn*/



@media screen and (max-width: 1200px){
  
}
@media screen and (max-width: 1000px){
  
}

@media screen and (max-width: 320px){
  
}